{% extends 'base.html.twig' %}
{% block title %}Certificateur{% endblock %}

{% block body %}
<style>
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
h1,a{
  text-align: center; 
  color : white;
}
.ah {
    margin-left : 43%;
}

fieldset {
    margin-top : 50px;
    border : 2px solid white;
    width : 150px;
    height : 30px;
    text-align : center;
    margin-left : 45%;
    color : white;
}

body {
    background : #001387;
}
</style>

<h1>Liste des Certifications passées</h1>

{% for liste in liste %}
<table>
<fieldset>
{{liste.nomcertificateur}}
</fieldset>
</table>
{%endfor%}

<br />
<div>
<a href="{{path('app_certif')}}" class="ah">Ajouter une autre certification</a>
</div>

{%endblock%}