{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
<style>
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

fieldset {
    margin-top : 50px;
    border : 2px solid white;
    width : 150px;
    height : 30px;
    text-align : center;
    margin-left : 45%;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
h1{
  text-align: center; 
  margin-top : 10px;
}

body {
    background : #001387;
}
h1, fieldset, a {
    color : white ;
}

.al {
   
   margin-left : 44%;
    
}
a:hover {
    color : white;
}
</style>

<h1>Liste des Stagiaires </h1>

{% for liste in liste %}
<table>
<fieldset>
{{liste.nomstagiaire}}
</fieldset>
</table>
{%endfor%}
<br />
<div>
<a href="{{path('app_stagiaire')}}" class="al">Ajouter un autre stagiaire</a>
</div>
{%endblock%}